@import "../../../styles/variables.scss";
@import "../../../styles/h3-base-styles";

.brews-overview {
  &__image {
    @media only screen and (max-width: 1300px) {
      height: 400px;
      width: 400px;
    }

    @media only screen and (max-width: 600px) {
      height: 300px;
      width: 300px;
    }

    @media only screen and (max-width: 400px) {
      height: 200px;
      width: 200px;
    }
  }
}
