@import "../styles/variables.scss";

.container {
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: 85vh;
  background: linear-gradient(200deg, $tan-900 45%, $blue-900 0);

  .logoContainer {
    display: flex;
    position: relative;
    animation: rattle 0.2s;
    animation-delay: 1.5s;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .logoBase {
    width: 100%;
    transform: scale(3, 3);
  }

  .paw {
    position: absolute;
    animation: slam 1.5s;
    animation-timing-function: ease-in;
    transform: scale(3, 3);
  }

  @keyframes slam {
    0% {
      transform: scale(10, 10);
      opacity: 0;
    }

    40% {
      opacity: 0;
    }

    100% {
      transform: scale(4, 4);
      opacity: 1;
    }
  }

  @keyframes rattle {
    0% {
      padding-top: 0;
      padding-left: 0;
    }
    10% {
      padding-top: -20px;
      padding-left: 0;
    }
    20% {
      padding-top: 0;
      padding-left: -20px;
    }
    30% {
      padding-top: 20px;
      padding-left: 0;
    }
    40% {
      padding-top: 0;
      padding-left: 20px;
    }
    50% {
      padding-top: -8px;
      padding-left: 0;
    }
    60% {
      padding-top: 0;
      padding-left: -8px;
    }
    70% {
      padding-top: 8px;
      padding-left: 0;
    }
    80% {
      padding-top: 0;
      padding-left: 8px;
    }
    90% {
      padding-top: -4px;
      padding-left: 0;
    }
    100% {
      padding-top: 0;
      padding-left: 0;
    }
  }

  @media only screen and (max-width: 1300px) {
    margin-top: 0;
    .logoBase {
      transform: scale(2.5, 2.5);
    }

    .paw {
      transform: scale(2.5, 2.5);
    }
  }

  @media only screen and (max-width: 900px) {
    margin-top: 0;
    .logoBase {
      transform: scale(2, 2);
    }

    .paw {
      transform: scale(2, 2);
    }
  }

  @media only screen and (max-width: 500px) {
    margin-top: 0;
    .logoBase {
      transform: scale(1.5, 1.5);
    }

    .paw {
      transform: scale(1.5, 1.5);
    }
  }
}

.orderOnlineSection {
  background-color: $blue-900;
  padding-bottom: 40px;
  &__link {
    margin: 0;
    text-align: center;
    a {
      padding: 10px 40px 12px 40px;
      font-family: $font-header;
      color: #fff;
      font-size: 2em;
      text-decoration: none;
      border-radius: 5px;
      border: 4px solid #fff;
      transition: all 0.4s;

      &:hover {
        background-color: #fff;
        color: $blue-900;
        box-shadow: 0 10px 10px -6px rgba(243, 243, 243, 0.37);
      }
    }
  }

  @media only screen and (max-width: 900px) {
    a {
      font-size: 1.5em;
    }
  }

  @media only screen and (max-width: 500px) {
    a {
      font-size: 1.2em;
    }
  }
}
